.nazwa-zakladki {
  font-weight: 700;
  font-size: 24px;
}

.obrazek_produktu {
  width: 190px;
}

.opis {
  clear: both;
  white-space: pre-line;
}

.produkt {
  font-weight: 700;
  font-size: 20px;
  color: black;
  display: block;
  text-align: center;
}

#tabela-produktow {
  border-spacing: 0px 16px;
}

.pole {
  padding: 10px 20px;
}

.opis_pro {
  display: inline-block;
  width: 660px;
}

.opis_pro a.produkt {
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

.separator {
  width: 100%;
  height: 1px;
  float: left;
}

.linkpdf {
  color: black;
  text-decoration: none;
}

table tr {
  width: 100%;
  display: inline-table;
  background-color: #f7fbff;
}

table tr:nth-child(even) {
  width: 100%;
  background-color: #d4e4f5;
}

#img_glowne {
  float: left;
  padding-right: 20px;
}

#map-canvas {
  position: relative;
  overflow: initial;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media print {
  html,
  body {
    height: auto;
  }
  #map-canvas,
  #map_canvas {
    height: 650px;
  }
}

#cookies-info {
  background-color: #414141;
  color: #CCCCCC;
  direction: ltr;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  padding: 6px 20px 4px;
  position: fixed;
  text-align: center;
  width: auto;
  z-index: 99999;
  color: #fff;
}

.showValueAnalytics {
  color: #50728b;
  border-radius: 15px;
  cursor: pointer;
}

.showValueAnalytics[data-name="phone"] {
  align-items: center;
  /* padding: 10px; */
  /* margin-left: -10px; */
}

.data-value[data-name="phone"] span:first-child {
  padding: 10px;
}

.showValueAnalytics:hover {
  background-color: #d1e3f1;
  /* border: 1px solid #aac6db; */
  -webkit-box-shadow: inset 0px 0px 0px 2px #aac6db;
  -moz-box-shadow: inset 0px 0px 0px 2px #aac6db;
  box-shadow: inset 0px 0px 0px 2px #aac6db;
}

.showValueAnalytics span:first-child {
  line-height: normal;
}

.showValueAnalytics .spoiler {
  font-weight: 400;
  font-size: 11px;
  border-bottom: 1px dotted #accaee;
  color: #50728b;
  margin: 0px;
  margin-right: 10px;
}

.sendEventAnalytics {
  cursor: pointer;
}

@media only screen and (max-width: 1120px) {
  .opis_pro {
    width: auto;
  }
}

@media only screen and (max-width: 1050px) {
  #calosc,
  #baner {
    width: 100%;
    overflow: hidden;
  }
  #frazy {
    width: 50%;
    padding-top: 0;
  }
  img.website {
    float: left;
  }
  p.nazwa_firmy {
    width: 50%;
    margin-top: 95px;
  }
}

@media only screen and (max-width: 768px) {
  #main .kontakt-info>div.container {
    padding: 0;
  }
  #map-canvas {
    height: 50vh;
  }
  .nazwa-zakladki {
    text-align: center;
    margin-top: 15px;
  }
  td.pole {
    display: block;
  }
}
