<div class="container">
  <div class="col-4">
    <div class="email">
      <span class="dane">
        <div class="data-value wrap" data-name="email" data-value="autoprodukt@autoprodukt.pl">
          <img class="ikona" src="./files/email_blue.png" alt="email">
          <div class="desc">
            <p>Napisz do nas!</p>
            <h4>autoprodukt@autoprodukt.pl</h4>
          </div>
        </div>
      </span>
    </div>
    <div class="adres">
      <span class="dane">
        <div class="data-value">
          <img class="ikona" src="./files/adres_blue.png" alt="adres">
          <div class="desc">
            <h4>
              Rumuńska 1 c
              <br> 91--336 ŁÓDŹ
              <br> łódzkie
              <br>
            </h4>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div class="col-4">
    <div class="telefon">
      <span class="dane">
        <div class="data-value wrap">
          <img class="ikona" src="./files/tel_blue.png" alt="phone">
          <div class="desc">
            <p>Zadzwoń do nas!</p>
            <div class="showValueAnalytics data-value" data-name="phone" data-value="518 899 990"></div>
            <div class="showValueAnalytics data-value" data-name="phone" data-value="572 255 305"></div>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div class="col-4">
    <div class="www">
      <span class="dane">
        <div class="sendEventAnalytics data-value" data-name="www">
          <img class="ikona" src="./files/website_blue.png" alt="strona www">
          <div class="desc">
            <a class="sendEventAnalytics" data-name="www" data-href="http://www.autoprodukt.pl">Przejdź
              na naszą stronę</a>
          </div>
        </div>
      </span>
      <a class="sendEventAnalytics" data-name="www" data-href="http://www.autoprodukt.pl" style="color:blue;">
        <img class="website" src="./files/oleje przemyslowe sprzedaz lodz.jpg">
      </a>
    </div>
  </div>
</div>
