@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  border: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
}

/* defined fonts */

.font-helvetica {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-releway {
  font-family: 'Raleway', sans-serif;
}

.text-center {
  text-align: center;
}

/* colors */

.text-yellow {
  color: #fab900;
}

.text-blue {
  color: #5096d6;
}

.text-darkblue {
  color: #3a5a8b;
}

.text-marine {
  color: #253649;
}

.text-green {
  color: #55a967;
}

.text-lightgreen {
  color: #65c97a;
}

.text-purple {
  color: #6655cc;
}

.text-orange {
  color: #da9935;
}

.text-red {
  color: #de5e5a;
}

.wrap {
  word-wrap: break-word;
  word-break: break-all;
}

#frazy {
  font-size: 12px;
  height: auto;
  width: 100%;
  background-color: #005299;
  color: #fff;
}

#frazy * {
  color: #fff;
}

#frazy h1 {
  font-size: 12px;
}

#frazy p {
  font-weight: 600;
  padding-bottom: 12px;
  font-size: 16px;
}

#frazy .linkklucz {
  line-height: 18px;
  font-size: 12px;
}

#frazy .container {
  display: flex;
  padding: 30px 0;
}

footer {
  background-color: #005299;
  width: auto;
  padding: 5px 30px;
  text-align: center;
}

footer div.container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer a {
  color: #fff;
}

footer .realization {
  color: #fff;
  line-height: 50px;
  margin-right: 15px;
  font-weight: 300;
}

footer img.logo-footer {
  height: 50px;
}

#calosc {
  width: 100%;
}

div#nav {
  display: block;
  float: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out;
}

div#nav.fixed {
  background-color: rgba(0, 0, 0, 0.9);
}

div#nav ul {
  list-style-type: none;
  float: right;
  padding-right: 100px;
  width: auto;
  margin: 0;
}

div#nav ul li {
  display: block;
  float: left;
  margin: 0;
}

div#nav ul li a {
  color: #FFF;
  display: block;
  float: left;
  height: 30px;
  text-decoration: none;
  padding: 5px 19px;
  padding-top: 18px;
  border-bottom: 1px solid transparent;
}

div#nav li.dziura {
  margin-left: 250px;
}

.kontakt {
  font-size: 20px;
  font-weight: 500;
  color: #50728b;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 0;
  background-color: #ecf4fa;
}

.kontakt>.container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
}

.kontakt>.container>div {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.kontakt>.container div.telefon,
.kontakt>.container div.email,
.kontakt>.container div.www {
  text-align: left;
  width: 100%;
}

.data-value {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.data-value h4 {
  font-weight: 500;
}

.kontakt>.container div.telefon div.data-value {
  margin: 5px 0;
}

.kontakt>.container div.telefon div.data-value .desc p {
  margin-left: 10px;
}

.kontakt>.container div.www div.data-value {
  margin: auto;
}

.kontakt>.container div.www div.data-value .desc {
  margin-top: 10px;
}

.kontakt span.dane {
  display: inline-block;
  text-align: left;
  line-height: 30px;
}

.kontakt div.email span.dane h4:hover {
  text-decoration: underline;
}

.kontakt .dane .desc {
  padding: 8px 0;
}

.kontakt .dane .desc p {
  font-size: 80%;
  font-weight: 400;
}

#baner {
  min-height: 400px;
  height: 50vh;
  width: 100%;
  display: table;
  background-image: url(../files/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#agree {
  width: 80px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #005299;
  color: #fff;
  margin-left: 10px;
}

/* layout */

div.container {
  max-width: 1120px;
  margin: auto;
  width: auto;
}

div.container.smaller {
  max-width: 768px;
}

div.col-4 {
  flex-grow: 1;
  width: 33%;
  padding: 15px;
}

div.col-6 {
  flex-grow: 1;
  width: 50%;
  padding: 15px;
}

div.col-12 {
  flex-grow: 1;
  width: 100%;
  padding: 15px;
}

img.prawe {
  float: right;
}

#baner,
#wrapper1,
#calosc {
  left: 0;
  right: 0;
  margin: auto;
}

#logoFirmy {
  margin: 0;
  visibility: hidden;
}

#main {
  text-align: justify;
}

#main .container {
  margin: 35px;
}

#main .container.with-picture {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#main .container.with-picture>img {
  height: fit-content;
}

#main .container .description {
  padding: 0px 20px;
  width: 100%;
}

#main .container.with-picture.pull-left {
  flex-direction: row !important;
}

#main .container.with-picture.pull-right {
  flex-direction: row-reverse !important;
}

#main section:nth-child(even) {
  background-color: #f7fbff;
}

#main section:nth-child(odd) .container.with-picture {
  flex-direction: row;
}

#main section:nth-child(even) .container.with-picture {
  flex-direction: row-reverse;
}

#main h1 {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}

#main h2 {
  font-size: 24px;
  font-weight: bold;
}

img.ikona {
  padding: 10px;
  width: 44px;
  height: 100%;
  display: inline-block;
  max-height: 80px;
}

img.ikona[alt="adres"],
img.ikona[alt="phone"],
img.ikona[alt="email"],
img.ikona[alt="strona www"] {
  vertical-align: top;
}

img.ikona[alt="strona www"] {
  padding-left: 0px;
}

p.nazwa_firmy {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: auto 150px;
  color: white;
  padding: 0 50px;
  text-shadow: 1px 1px 5px #333;
}

img.website {
  max-height: 210px;
  max-width: 270px;
  border: 1px solid #bbb;
}

div.kontakt-header {
  display: block;
  width: auto;
  height: 50px;
  color: #313436;
  font-size: 24px;
  line-height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

img.gorne_logo {
  display: none;
}

/*animacja*/

div#nav ul li a:hover {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #aaa;
}

div#nav ul li a.current {
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 1120px) {
  #calosc,
  #baner,
  div#nav {
    width: 100%;
    overflow: hidden;
  }
  #frazy {
    width: 100%;
    padding-top: 0;
  }
  div.container {
    width: 100%;
  }
  img.website {
    float: left;
  }
  img.gorne_logo {
    margin-left: 0;
  }
  #baner {
    overflow: visible;
  }
  div#nav ul {
    padding-left: 0;
  }
}

/* if logo exists */

#calosc.with-logo #logoFirmy {
  margin: 10px 0;
  visibility: initial;
}

#calosc.with-logo img.gorne_logo {
  max-height: 168px;
  display: block;
  top: 10px;
  z-index: 2;
  margin: auto;
}

#calosc.with-logo div#nav {
  position: relative;
  text-align: center;
  clear: both;
  display: block;
  background-color: #fff;
  white-space: normal;
  width: 100%;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
}

#calosc.with-logo div#nav.fixed {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.13) 0 0 9px;
  padding: 20px 0px;
}

#calosc.with-logo #nav ul {
  display: inline-block;
  padding-right: initial;
  width: auto;
  margin: 0;
  padding: 0;
  white-space: normal;
  float: none;
  vertical-align: middle;
}

#calosc.with-logo #nav ul li a {
  padding: 15px 19px;
  height: 22px;
}

#calosc.with-logo #nav:before,
#calosc.with-logo #nav:after {
  background-color: #d0d0d0;
  content: "";
  display: inline-block;
  height: 1px;
  bottom: .1em;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#calosc.with-logo #nav:after {
  left: 29px;
  margin-right: -50%;
}

#calosc.with-logo #nav:before {
  right: 29px;
  margin-left: -50%;
}

#calosc.with-logo #nav ul li a {
  color: #666;
  text-transform: uppercase;
}

#calosc.with-logo #nav ul li a.current {
  color: #333;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

#calosc.with-logo #nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

#calosc.with-logo #baner.fixed {
  margin-top: 80px;
}

/* kontakt gora/dol */

.kontakt.hidden,
#kontaktDol.hidden {
  display: none;
  visibility: hidden;
}

#main #formularzKontaktowy {
  background-color: #2676A7;
}

#main #formularzKontaktowy .container {
  display: block;
}

#contactForm .title {
  display: block;
  line-height: 20px;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
}

#contactForm .container {
  padding: 0;
  margin: 0 auto;
}

#contactForm .container:first-child {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

#contactForm .container .col-12 {
  padding: 15px;
  width: auto;
}

#contactForm input,
#contactForm textarea {
  background-color: #f5f5f5;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  box-sizing: border-box;
}

#contactForm .acceptance {
  color: #fff;
}

#contactForm .acceptance div {
  text-align: center;
}

#contactForm .acceptance input {
  display: inline;
  width: auto;
  margin: 10px auto;
  font-size: 20px;
}

#contactForm .acceptance span {
  font-size: 14px;
}

#contactForm input {
  padding: 10px;
}

#contactForm textarea {
  padding: 10px;
  resize: none;
}

#submitButton {
  display: block;
  height: auto;
  padding: 14px 30px;
  background: #fab900;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px auto;
}

#submitButton:hover {
  background: #f3b200;
}

#submitButton[disabled] {
  background: #ffedbd;
}

@media only screen and (max-width: 1120px) {
  div#nav.with-logo {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #baner {
    height: 100vh;
  }
  p.nazwa_firmy {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
    font-size: 36px;
  }
  div#nav {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#nav ul {
    padding-right: initial;
    width: auto;
    margin: 0;
  }
  #calosc #nav ul,
  #calosc.with-logo #nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #calosc.with-logo #nav:before,
  #calosc.with-logo #nav:after {
    display: none;
    visibility: hidden;
  }
  #main .container.with-picture {
    flex-wrap: wrap;
  }
  #main .container.with-picture>img {
    display: block;
    margin: auto;
  }
  #formularzKontaktowy .container:first-child,
  #frazy .container,
  .kontakt>.container {
    flex-direction: column;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  div.col-4 {
    width: auto;
  }
  div.col-6 {
    width: auto;
  }
  div.col-12 {
    width: auto;
  }
  .kontakt>.container div.telefon,
  .kontakt>.container div.email,
  .kontakt>.container div.adres,
  .kontakt>.container div.www {
    margin-left: auto;
    text-align: left;
    width: 100%;
  }
  .sendEventAnalytics {
    display: block;
    text-align: center;
  }
  .www .dane .sendEventAnalytics:first-child {
    display: flex;
  }
  img.website {
    float: none;
  }
}
